// Font Variables
$titleFont: 'Raleway', sans-serif;
$primaryFont: 'Roboto', sans-serif;

// Colors - http://www.color-blindness.com/color-name-hue/
$emperor: #545051;
$regentGrey: #7A888D; // Subtitle Color
$iron: #D3D8D3;
$white: #FEFEFE;
$apricot: #EE8D80;
$wildSand: #EFEBE3;

// Settings
$gridGap: 20px;
$breakpoints: (phone: 320px, tablet: 750px, desktop: 1240px);
