.content {
    margin-top: 60px;

    @include media(">=tablet") {
        margin-top: 160px;
    }
    @include media(">=desktop") {
        margin-top: 230px + $gridGap;
    }


    // Resizing on scroll
    &--shrink {
        margin-top: 60px + $gridGap;
    }
}
