.cta {
    @include center;

    &__row {
        display: flex;
        padding: $gridGap*2;
        box-sizing: border-box;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__column {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 1.5rem;
        font-family: $titleFont;
        line-height: 1.7rem;
        text-align: center;
    }

    &__subtitle {
        font-size: 0.8rem;
        line-height: 1rem;
        color: $regentGrey;
        text-align: center;
        margin-top: $gridGap/2;
        padding: $gridGap/2 $gridGap 0;
        border-top: 1px solid $iron;
    }

    &__emphasis {
        font-weight: 600;
        font-style: italic;
    }

    &__button {
        color: $apricot;
        border: 1px solid $apricot;
        background: $white;
        box-sizing: border-box;
        border-radius: 6px;
        margin: $gridGap 0 0;
        padding: $gridGap/2 $gridGap;
        transition: 0.3s ease;
        text-transform: uppercase;
        font-size: .8rem;

        &:hover {
            background: $apricot;
            color: $white;
        }
    }
}
