.hero {
    width: 100%;

    &__container {
        @include center;
        display: flex;
        flex-flow: row wrap;
        border: 1px solid $white;
    }

    &__column {
        width: 100%;
        display: flex;
        flex-flow: column wrap;

        @include media(">phone", "<=tablet") {
            width: 100%;
        }

        @include media(">tablet") {
            width: 50%;
        }
    }

    &__row {
        display: flex;
        flex-flow: row wrap;
    }

    &__block {
        height: 200px;
        width: 100%;
        background: $apricot;
        border: 1px solid $white;
        box-sizing: border-box;

        @include media(">phone") {
            width: 50%;
        }

        &--large {
            @extend .hero__block;
            width: 100%;

            @include media(">phone") {
                height: 400px;
            }
        }

        &--medium {
            @extend .hero__block;
            width: 100%;
        }
    }
}
