.hero {
    width: 100%;
    height: 600px;

    &__container {
        @include center;
        display: flex;
        flex-flow: row nowrap;
    }

    &__column {
        width: 50%;
        display: flex;
        flex-flow: column wrap;
    }

    &__row {
        display: flex;
        flex-flow: row wrap;
    }

    &__block {
        height: 200px;
        width: 50%;
        background: $apricot;
        border: 2px solid $white;
        box-sizing: border-box;

        &--large {
            @extend .hero__block;
            height: 400px;
            width: 100%;
        }

        &--medium {
            @extend .hero__block;
            width: 100%;
        }
    }
}
